.env*
!.env.*.sample
config/secret.exs
postgres
uploads
static/
!static/.gitkeep
postgres/
!postgres/.gitkeep
uploads/
!uploads/.gitkeep
meili_data/
!meili_data/.gitkeep
pleroma/
!pleroma/.gitkeep
cloudflared/
!cloudflared/.gitkeep
.dbbackup/
!.dbbackup/.gitkeep
