version: 2.1

jobs:
  build:
    parameters:
      branch:
        type: env_var_name
        default: BRANCH
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: |
          mkdir -vp ~/.docker/cli-plugins/
          ARCH=amd64
          BUILDX_URL=$(curl -s https://raw.githubusercontent.com/docker/actions-toolkit/main/.github/buildx-lab-releases.json | jq -r ".latest.assets[] | select(endswith(\"linux-$ARCH\"))")
          curl --silent -L --output ~/.docker/cli-plugins/docker-buildx $BUILDX_URL
          chmod a+x ~/.docker/cli-plugins/docker-buildx
      - run: echo "$DOCKER_HUB_ACCESS_TOKEN" | docker login -u $DOCKER_ACCOUNT --password-stdin
      - run: docker buildx create --name builder --use --driver cloud "${DOCKER_ACCOUNT}/${CLOUD_BUILDER_NAME}"
      - run:
          name: "Build Docker Image"
          command: |
            BRANCH="<< parameters.branch >>" ./build_image.sh

workflows:
  build-deploy:
    jobs:
      - build:
          context:
            - docker
          matrix:
            parameters:
              branch: ["stable", "develop"]
