version: 2.1

jobs:
  build:
    parameters:
      branch:
        type: env_var_name
        default: BRANCH
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: "Download buildx plugin"
          command: |
            mkdir -vp ~/.docker/cli-plugins/
            ARCH=amd64
            BUILDX_URL="https://github.com/docker/buildx-desktop/releases/download/v0.31.1-desktop.1/buildx-v0.31.1-desktop.1.linux-${ARCH}"
            curl --silent -L --output ~/.docker/cli-plugins/docker-buildx "$BUILDX_URL"
            chmod a+x ~/.docker/cli-plugins/docker-buildx
      - run:
          name: "Login to docker.io"
          command: echo "$DOCKER_HUB_ACCESS_TOKEN" | docker login -u $DOCKER_ACCOUNT --password-stdin
      - run:
          name: "Create Docker Buildx Builder"
          command: docker buildx create --name builder --use --driver cloud "${DOCKER_ACCOUNT}/${CLOUD_BUILDER_NAME}"
      - run:
          name: "Build Container Image"
          command: |
            BRANCH="<< parameters.branch >>" ./build_image.sh

workflows:
  build-deploy:
    jobs:
      - build:
          context:
            - docker
          matrix:
            parameters:
              branch: ["stable", "develop"]
