name: Docker Image CI

on:
  push:
    branches: [ "stable", "develop" ]
    tags:
      - stable-*
      - develop-*
  pull_request:
    branches: [ "stable", "develop" ]
  schedule:
    - cron: "0 */3 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: get latest commit id
      if: ${{ github.ref_name == 'develop' || github.ref_name == 'stable' }}
      run: |
        BRANCH=${GITHUB_REF_NAME}
        echo "COMMIT_ID=$(curl "https://akkoma.dev/api/v1/repos/AkkomaGang/akkoma/branches/${BRANCH}" | jq -r '.commit.id')" >> $GITHUB_ENV
        echo "BRANCH=${BRANCH}" >> $GITHUB_ENV

    - name: set commit id from tag (stable)
      if: ${{ startsWith(github.ref_name, 'stable-') }}
      run: |
        COMMIT_ID=${GITHUB_REF_NAME#stable-}
        echo "COMMIT_ID=${COMMIT_ID}" >> $GITHUB_ENV
        BRANCH="$(echo $GITHUB_REF_NAME | sed s,-${COMMIT_ID},,)"
        echo "BRANCH=${BRANCH}" >> $GITHUB_ENV

    - name: set commit id from tag (develop)
      if: ${{ startsWith(github.ref_name, 'develop-') }}
      run: |
        COMMIT_ID=${GITHUB_REF_NAME#develop-}
        echo "COMMIT_ID=$COMMIT_ID" >> $GITHUB_ENV
        BRANCH="$(echo $GITHUB_REF_NAME | sed s,-${COMMIT_ID},,)"
        echo "BRANCH=${BRANCH}" >> $GITHUB_ENV

    - name: set commit id from tag (pull request)
      if: github.event_name == 'pull_request'
      run: |
        COMMIT_ID=${{ github.event.pull_request.head.sha }}
        echo "COMMIT_ID=develop" >> $GITHUB_ENV
        BRANCH="$(echo ${GITHUB_REF_NAME} | sed s,/,-,)"
        echo "BRANCH=${BRANCH}" >> $GITHUB_ENV

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Docker Login
      # You may pin to the exact commit or the version.
      # uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      uses: docker/login-action@v2.1.0
      if: github.event_name != 'pull_request'
      with:
        # Username used to log against the Docker registry
        username: teslamint
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKER_PAT }}

    - name: Build and push Docker images
      # You may pin to the exact commit or the version.
      # uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
      uses: docker/build-push-action@v3.2.0
      with:
        push: ${{ github.event_name != 'pull_request' }}
        # List of build-time variables
        build-args: "PLEROMA_VER=${{ env.COMMIT_ID }},BRANCH=${{ env.BRANCH }}"
        platforms: "linux/amd64"
        tags: "teslamint/akkoma:${{ env.BRANCH }},teslamint/akkoma:${{ env.COMMIT_ID }}"
        cache-from: type=gha
        cache-to: type=gha,mode=max
